name: test_new_flutter_version
description: "Testing new Flutter Features."

version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  shimmer: ^3.0.0
  flutter_svg:
  cached_network_image:
  flutter_cache_manager: ^3.4.1
  mix: ^2.0.0-rc.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
